
<h2 style="background-color:powderblue;">Delete Book By ID details</h2>

<!-- <div id="DeleteID">
  <form (ngSubmit)="onSubmit(DeleteID)" #DeleteID="ngForm">
    <div class="modal" class="form-group">
      <label for="name">ID
        <input class="form-control" name="ID" required [(ngModel)]="ID" placeholder="Enter Bookid">      
        </label>
    </div>
    <button class="d" type="submit" >Submit</button>
    <p>{{d}}</p>
  </form>  
</div> -->

<input #box (keyup.enter)="onEnter(box.value)" placeholder="Press Enter after type ID">

<table width=100% border="collapse">
    <tr style="font-family:verdana;"  style="background-color:Tomato;">
      <th>BookId</th>
      <th>BookName</th>
      <th>AuthorName</th>
      <th>Price</th>
    </tr>
    <tr align="center" *ngFor="let b of book">
      <td>{{b.ID}}</td>
      <td>{{b.BookName}}</td>
      <td>{{b.AuthorName}}</td>
      <td>{{b.Price}}</td>
    </tr>
  </table>
  <p style="color:red;">End of document</p>